python-telegram-bot==20.0  # Укажите нужную версию
pymongo==4.0                # Укажите нужную версию
giphypop             # Укажите нужную версиюв
python-dotenv==0.19.0       # Укажите нужную версию
requests==2.25.1            # Укажите нужную версию (если нужно)

